<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.hatamiarash.mysql"
    android:versionCode="1"
    android:versionName="1.0" >


    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name" >


        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".AllResturans"
            android:label="All Resturans" >
        </activity>

        <activity
            android:name=".AllFastFoods"
            android:label="All FastFoods" >
        </activity>

        <activity
            android:name=".AllMarkets"
            android:label="All Markets" >
        </activity>

        <!-- Add Product Activity -->
        <activity
            android:name=".NewFastFood"
            android:label="Add New FastFood" >
        </activity>
        <activity
            android:name=".NewMarket"
            android:label="Add New Market" >
        </activity>
        <activity
            android:name=".NewResturan"
            android:label="Add New Resturan" >
        </activity>

        <!-- Edit Product Activity -->
        <activity
            android:name=".EditFastFoods"
            android:label="Edit FastFood" >
        </activity>

        <activity
            android:name=".EditMarkets"
            android:label="Edit Market" >
        </activity>

        <activity
            android:name=".EditResturans"
            android:label="Edit Resturan" >
        </activity>
    </application>


</manifest>